* {
  box-sizing: border-box;
  margin: 0;
}

#mainPage {
  background-image: url("/RandomNameGenerator/images/woodland2.jpg");

  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

h1, p {
  color: whitesmoke;
  padding: 10px;
}

#divTop {
  height: 30%;
  width: 100%;
}

#divMiddle {
  height: 30%;
  width: 100%;

  display: inline-flex;
  flex-direction: row;
  justify-self: center;
  justify-content: center;
}

#divBottom {
  height: 30%;
  width: 100%;
}

button {
  background-color: darkolivegreen;
  color: white;
  margin: 10px;
}

#generatedName {
  font-size: 45px;
}

.sideDiv1 {
  height: 100%;
  width: 10%;
}

.middleDiv {
  height: 100%;
  width: 80%;

  text-align: center;
}

.sideDiv2 {
  height: 100%;
  width: 10%;
}